<% include ./partials/header-top %>

    <title>dashboard</title>

    <% if (user_type == "student") { %>
      <link rel="stylesheet" href="/stylesheets/background_student.css">
    <% } else if (user_type == "reviewer") { %>
      <link rel="stylesheet" href="/stylesheets/background_reviewer.css">
    <% } %>

    <link rel="stylesheet" href="/stylesheets/dashboard.css">

<% include ./partials/header-bot %>
<% include ./partials/navbar %>

    <div id="content">

        <div class="container">

            <div id="profile" class="row block d-flex flex-column">
              <div id="user_text">
                <h2><%= currentUser.username %></h2>
                <h4><%= currentUser.fname + ' ' + currentUser.lname %>%></h4>
                <h5 class="text-capitalize"><%= currentUser.type %></h5>
                <% if (currentUser.type == "student") { %>
                  <p><%= currentUser.num_requests %> review requests remaining</p>
                <% } else { %>
                  <p><%= currentUser.occupation %> at <%= currentUser.company %></p>
                <% } %>
              </div>
            </div>

            <div class="row">

                <div class="col-12 col-sm-6">

                    <!-- upload block -->
                    <a href="/resumes/upload">
                        <div id="upload" class="row block block-1 py-3 mb-3 mr-1 d-flex align-items-center justify-content-center">
                            <h4><span>upload</span> your resume</h4>
                        </div>
                    </a>

                    <!-- notifications block -->
                    <div id="notifs" class="row block block-2 py-3 px-1 mr-1 d-flex flex-column align-items-center justify-content-between">
                        <h4 class="mt-2" >Notifications</h4>
                            <% if (notifications.length === 0){ %>
                                <!-- <p>You're all up to date!</p> -->
                            <% } else { %>
                                <div class="notifications p-1">
                                <% notifications.forEach((notification) => { %>

                                    <% if (notification.type == "reviewer"){ %>
                                    <div class="notification review p-2">
                                    <% } else { %>
                                    <div class="notification p-2">
                                    <% } %>

                                        <button type="button" class="btn close exit-btn" data-toggle="modal" data-target="#n<%= notification._id %>Modal">
                                            &times
                                        </button>

                                        <a href="/resumes/<%= notification.resume._id %>">
                                            <p>
                                                <% if (notification.type == "reviewer"){ %>
                                                    <span class="alert-sender alert-sender-reviewer"><%= notification.from %> </span>
                                                    <span class="alert-type">reviewed your resume: </span>
                                                <% } else { %>
                                                    <span class="alert-sender alert-sender-student"><%= notification.from %> </span>
                                                    <span class="alert-type">commented on your resume: </span>
                                                <% } %>
                                                <span class="alert-text">"<%= notification.text_snippet %>"</span>
                                            </p>
                                        </a>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="n<%= notification._id %>Modal" tabindex="-1" role="dialog" aria-labelledby="n<%= notification._id %>ModalTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="n<%= notification._id %>ModalLongTitle">
                                                    <i class="fas fa-exclamation-circle"></i>
                                                    Are you sure you want to delete this notification?
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn-b btn-secondary" data-dismiss="modal">Close</button>
                                                <form action="/notifications/<%= notification._id %>?_method=DELETE" method="POST">
                                                    <button class="btn-b btn-danger">delete</button>
                                                </form>
                                            </div>
                                            </div>
                                        </div>
                                    </div>

                                <% }); %>
                                </div>
                            <% } %>
                    </div>
                </div>

                <div class="col-12 col-sm-6 mt-4 mt-sm-0">

                    <!-- gallery block -->
                    <a href="/resumes">
                        <div id="gallery" class="row block block-2 py-3 ml-0 ml-sm-1 d-flex justify-content-center align-items-center">
                            <h4 class="mt-2">Resume Gallery</h4>
                        </div>
                    </a>

                    <!-- upload block -->
                    <% if (currentUser.resumes && currentUser.resumes.length > 0) { %>
                        <a href="/resumes/<%= currentUser.resumes[currentUser.resumes.length-1]._id %>">
                    <% } else { %>
                        <a href="/resumes/upload">
                    <% } %>
                        <div id="view" class="row block block-1 py-3 mt-3 ml-0 ml-sm-1 d-flex align-items-center justify-content-center">
                            <h4><span>view</span> your resume</h4>
                        </div>
                    </a>

                </div>
            </div>

        </div>

    </div>


<% include ./partials/footer %>
