<% include ./partials/header-top %>

    <title>Resumes</title>
    <link rel="stylesheet" href="/stylesheets/resume.css">

<% include ./partials/header-bot %>

    <div class="header d-flex row justify-content-center align-content-center">
      <h1><%= resume.username + "\'s Resume" %></h1>
    </div>

    <div id="content">

      <div class="container">

          <div class="row">

              <div class="col-12 col-sm-8">
                  <iframe id="resume_frame" src="<%= "../uploads/" + resume.filename%>" ></iframe>
              </div>
      
      
              <div id="desc" class="col-12 col-sm-4 py-5">
                  <p class="title">Description:</p>
                  <p><%= resume.description %></p>
                  <b>Tags:</b>
                  <% for (var i=0; i<resume.tags.length; i++) { %>
                    <div class="tag tag-<%= i+ 1 %> mt-1">
                      <p><%= resume.tags[i] %></p>
                    </div>
                  <% } %>
                  <br>
                  <p class="title mt-3">Comments:</p>
                  <form method="POST">
                    <textarea class="form-control" name="comment" placeholder="Leave a comment"></textarea>
                    <button class="mt-2 btn">Submit</button>
                  </form>
              </div>
              
            </div>
      
          </div>
      
      </div>
     

<% include ./partials/footer %>
