<% include ./partials/header-top %>

    <title>Gallery</title>

    <% if (user_type == "student") { %>
      <link rel="stylesheet" href="/stylesheets/background_student.css">
    <% } else if (user_type == "reviewer") { %>
      <link rel="stylesheet" href="/stylesheets/background_reviewer.css">
    <% } %>

    <link rel="stylesheet" href="/stylesheets/resume-gallery.css">

<% include ./partials/header-bot %>
<% include ./partials/navbar %>
  <!-- <div class="header d-flex row justify-content-center align-content-center">
      <h1>Resume Gallery</h1>
    </div> -->

    <div class="content">
      <div class="filter d-flex align-content-center justify-content-center">
        <h5 class="mr-2">Filter By:</h5>
        <select class="form-control" name="user[type]" id="myInput" onchange=filter_resumes()>
          <% if (tag !== ""){ %>
          <option selected value="<%= tag %>"><%= tag %></option>
          <option value="All">All</option>
          <% } else { %>
          <option selected value="All">All</option>
          <% } %>
          <option value="Agriculture">Agriculture</option>
          <option value="Accounting">Accounting</option>
          <option value="Aeronautical Engineering">Aeronautical Engineering</option>
          <option value="Architecture">Architecture</option>
          <option value="Building">Building</option>
          <option value="Business Studies">Business Studies</option>
          <option value="Chemical Engineering">Chemical Engineering</option>
          <option value="Chemistry">Chemistry</option>
          <option value="Civil Engineering">Civil Engineering</option>
          <option value="Computer Science">Computer Science</option>
          <option value="Dentistry">Dentistry</option>
          <option value="Economics">Economics</option>
          <option value="Education Initial">Education Initial</option>
          <option value="Education Post Other">Education Post Other</option>
          <option value="Electrical Engineering">Electrical Engineering</option>
          <option value="Electronic Computer Engineering">Electronic Computer Engineering</option>
          <option value="Geology">Geology</option>
          <option value="Health Other">Health Other</option>
          <option value="Humanities">Humanities</option>
          <option value="Languages">Languages</option>
          <option value="Law">Law</option>
          <option value="Life Sciences">Life Sciences</option>
          <option value="Mathematics">Mathematics</option>
          <option value="Mechanical Engineering">Mechanical Engineering</option>
          <option value="Medicine">Medicine</option>
          <option value="Mining Engineering">Mining Engineering</option>
          <option value="Nursing Initial">Nursing Initial</option>
          <option value="Nursing Post Initial">Nursing Post Initial</option>
          <option value="Other Engineering">Other Engineering</option>
          <option value="Pharmacy">Pharmacy</option>
          <option value="Physical Sciences">Physical Sciences</option>
          <option value="Psychology">Psychology</option>
          <option value="Rehabilitation">Rehabilitation</option>
          <option value="Social Sciences">Social Sciences</option>
          <option value="Social Work">Social Work</option>
          <option value="Surveying">Surveying</option>
          <option value="Urban Regional Planning">Urban Regional Planning</option>
          <option value="Veterinary Science">Veterinary Science</option>
          <option value="Visual Performing Arts">Visual Performing Arts</option>
        </select>
      </div>


      <div class="gallery">
        <div id="resumes" class="row flex-wrap justify-content-center">

          <% if (resumes.length === 0 ){ %>
            <h2 id="sorry-msg">Sorry, no resumes have been uploaded yet.</h2>
          <% }else{ %>
            <% resumes.forEach(function(resume){ %>
                <a href="resumes/<%= resume._id %>" class="resume mx-3 mb-5 pb-3">

                  <% if (resume.user_type == "student"){ %>
                    <p class="author student-resume"><%= resume.username %></p>
                  <% } else { %>
                    <p class="author review-resume"><%= resume.username %></p>
                  <% } %>

                  <% if ((resume.requested == true) && (user_type == "reviewer")) { %>
                    <i class="fas fa-exclamation-circle request-mark"></i>
                  <% } %>


                  <div class="container thumb">
                    <img class="img-fluid" src="https://storage.googleapis.com/reviewmyresume/<%= resume.filename %>.png" alt="thumbnail"></img>
                  </div>
                  <div class="resume-text">

                  <% if (!resume.overall_rating){ %>
                    <p class="unrated">Not Rated Yet</p>
                  <% } else { %>
                    <p>
                      <%= resume.overall_rating %>
                      <i class="fas fa-star"></i>
                      <span class="count">(<%= resume.ratings.length %>)</span>
                    </p>
                  <% } %>
                  <br>

                  <div class="tag tag-1 mt-2">
                    <p><%= resume.tags[0] %></p>
                  </div>
                  <div class="tag tag-2 mt-2">
                      <p><%= resume.tags[1] %></p>
                  </div>
                </div>
                </a>
            <% }); %>
            <% } %>
        </div>
      </div>
    </div>

    <script src="/scripts/resume-gallery.js"></script>
<% include ./partials/footer %>
