<% include ./partials/header-top %>

    <title>Resume</title>

    <% if (user_type == "student") { %>
      <link rel="stylesheet" href="/stylesheets/background_student.css">
    <% } else if (user_type == "reviewer") { %>
      <link rel="stylesheet" href="/stylesheets/background_reviewer.css">
    <% } %>

    <link rel="stylesheet" href="/stylesheets/show-resume.css">

<% include ./partials/header-bot %>
<% include ./partials/navbar %>

    <div class="header d-flex row justify-content-center align-content-center">
      <h1><%= resume.username + "\'s resume" %></h1>
    </div>

    <div id="content d-flex justify-content-center">

      <div class="container">

          <div class="row">

              <div class="col-12 col-sm-8">
                  <iframe id="resume_frame" src="<%= "https://storage.googleapis.com/reviewmyresume/" + resume.filename + "#toolbar=0&navpanes=0&scrollbar=0"%>" ></iframe>
              </div>

              <div id="desc" class="col-12 col-sm-4 py-5">

                  <% if (resume.requested == true) { %>
                    <i class="fas fa-exclamation-circle request-mark" data-toggle="tooltip" data-placement="right" title="Requested for Review"></i>
                  <% } %>

                  <% if (currentUser.username === resume.username){ %>
                  <% if (resume.requested != true) { %>
                    <% if (user_type == "student") { %>
                      <form action="/resumes/<%= resume._id %>/request" method="post">
                        <button id="request-btn" href="/resumes/<%= resume._id %>/request" type="btn" class="btn edit-btn flag">Request Review</button>
                      </form>
                    <% } %>
                  <% } %>

                  <a href="/resumes/<%= resume._id %>/edit" type="btn" class="btn edit-btn">Edit</a>

                  <!-- Button trigger modal -->
                  <button type="button" class="del-btn" data-toggle="modal" data-target="#exampleModalCenter">
                      <i class="trash fas fa-trash-alt"></i>
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">
                            <i class="fas fa-exclamation-circle"></i>
                            Are you sure you want to delete this resume?
                          </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn-b btn-secondary" data-dismiss="modal">Close</button>
                          <form action="/resumes/<%= resume._id %>?_method=DELETE" method="POST">
                            <button class="btn-b btn-danger">Delete</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <% } %>

                  <!-- Description -->
                  <p class="title">Description:</p>
                  <p><%= resume.description %></p>

                  <!-- Tags -->
                  <b>Tags:</b>
                  <% for (var i=0; i<resume.tags.length; i++) { %>
                    <div class="tag tag-<%= i+ 1 %> mt-1">
                      <a href="/resumes/filtered/<%= resume.tags[i] %>"><%= resume.tags[i] %></a>
                      <!-- <p><%= resume.tags[i] %></p> -->
                    </div>
                  <% } %>
                  <br>

                  <!-- Ratings -->
                  <div class="rating">

                      <p class="title mt-3">Overall Rating:</p>
                      <% for (var i=0; i<5; i++) { %>
                      <%    if (i<resume.overall_rating) { %>
                                <i class="fas fa-star"></i>
                      <%    } else { %>
                              <i class="far fa-star"></i>
                      <%    } %>
                      <% } %>
                      <span class="count">(<%= resume.ratings.length %>)</span>
                      <br>

                      <% if (currentUser.username !== resume.username){ %>
                        <p class="title mt-3">Your Rating:</p>

                        <% var rating_idx = resume.raters.indexOf(currentUser.username); %>

                        <% if (rating_idx == -1){ %>
                          <i id="star-0" class="fas fa-star r-star unlocked"></i>
                          <% for (var i=1; i<5; i++) { %>
                              <i id="star-<%= i %>" class="far fa-star r-star unlocked"></i>
                          <% } %>
                          <!-- Button trigger modal -->
                          <button type="button" class="btn submit-btn" data-toggle="modal" data-target="#ratingModal">
                              submit
                          </button>
                        <% } else { %>
                          <% var rating = resume.ratings[rating_idx]; %>
                          <% for (var i=0; i<5; i++) { %>
                          <%    if (i<rating) { %>
                          <i class="fas fa-star r-star"></i>
                          <%    } else { %>
                          <i class="far fa-star r-star"></i>
                          <%    } %>
                          <% } %>
                        <% } %>

                        <!-- Modal -->
                        <div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title d-flex flex-column align-items-center justify-content-center pl-5 py-3" id="ratingModalLongTitle">
                                  <div class="stars">
                                      <i id="locked-0" class="fas fa-star r-star locked px-1"></i>
                                      <% for (var i=1; i<5; i++) { %>
                                      <i id="locked-<%= i %>" class="far fa-star r-star locked px-1"></i>
                                      <% } %>
                                  </div>
                                  Are you sure you want submit this rating? <br> <span>Ratings are final and cannot be changed later</span>
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn-b btn-secondary" data-dismiss="modal">Close</button>
                                <form action="/resumes/<%= resume._id %>/rate" method="POST">
                                  <input id="rating" type="text" name="rating">
                                  <button class="btn-b btn-warning">submit</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% } %>
                  </div>



                  <!-- Comments -->
                  <p class="title mt-3">Comments/ Reviews:</p>

                  <% if (resume.comments.length > 0){ %>
                  <div class="comments">
                      <% resume.comments.forEach(comment => { %>
                        <% if (comment.type === "review") { %>
                        <div class="comment review-comment">
                        <% } else { %>
                        <div class="comment student-comment">
                        <% } %>
                          <div class="container">
                              <p class="author"><%= comment.author.username %></p>
                              <p class="comment-text"><%= comment.text %></p>
                              <div class="info d-flex justify-content-around align-items-center">
                              <% if (currentUser.username === comment.author.username){ %>
                                  <button type="button" class="btn submit-btn" data-toggle="modal" data-target="#commentModal">
                                      Delete
                                  </button>

                                  <!-- Modal -->
                                  <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalTitle" aria-hidden="true">
                                      <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="commentModalLongTitle">
                                              Are you sure you want to delete your comment?
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn-b btn-secondary" data-dismiss="modal">Close</button>
                                            <form action="/resumes/<%= resume._id %>/rate" method="POST">
                                              <input id="rating" type="text" name="rating">
                                              <button class="btn-b btn-danger">submit</button>
                                            </form>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                  <span>•</span>
                              <% } %>
                              <% var date = comment.date.toString(); %>
                              <span><%= date.substring(0, 3) %>, <%= date.substring(4,21) %></span>
                              </div>
                          </div>
                        </div>
                      <% }); %>
                  </div>
                  <% } %>

                  <form class="mt-4" method="POST" action="/resumes/<%= resume._id%>/comments">
                    <% if (currentUser.type === "student") { %>
                      <textarea class="form-control" name="comment[text]" placeholder="Leave a comment" minlength="1" required></textarea>
                    <% } else { %>
                      <textarea class="form-control" name="comment[text]" placeholder="Leave a review" minlength="1" required></textarea>
                    <% } %>
                    <button class="mt-2 comment-btn">Submit</button>
                  </form>
              </div>

            </div>

          </div>

      </div>

      <script src="/scripts/common.js"></script>
      <script src="/scripts/show-resume.js"></script>
<% include ./partials/footer %>
