<% include ./partials/header-top %>

    <title>Resume</title>
    <link rel="stylesheet" href="/stylesheets/show-resume.css">

<% include ./partials/header-bot %>

    <div class="header d-flex row justify-content-center align-content-center">
      <h1><%= resume.username + "\'s Resume" %></h1>
    </div>

    <div id="content d-flex justify-content-center">

      <div class="container">

          <div class="row">

              <div class="col-12 col-sm-8">
                  <iframe id="resume_frame" src="<%= "../uploads/" + resume.filename + "#toolbar=0&navpanes=0&scrollbar=0"%>" ></iframe>
              </div>
      
              <div id="desc" class="col-12 col-sm-4 py-5">

                  <% if (currentUser.username === resume.username){ %>

                  <!-- Button trigger modal -->
                  <button type="button" class="del-btn" data-toggle="modal" data-target="#exampleModalCenter">
                      <i class="trash fas fa-trash-alt"></i>
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">
                            <i class="fas fa-exclamation-circle"></i>
                            Are you sure you want to delete this?
                          </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn-b btn-secondary" data-dismiss="modal">Close</button>
                          <form action="/resumes/<%= resume._id %>?_method=DELETE" method="POST">
                            <button class="btn-b btn-danger">Delete</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <% } %>

                  <!-- Description -->
                  <p class="title">Description:</p>
                  <p><%= resume.description %></p>

                  <!-- Tags -->
                  <b>Tags:</b>
                  <% for (var i=0; i<resume.tags.length; i++) { %>
                    <div class="tag tag-<%= i+ 1 %> mt-1">
                      <p><%= resume.tags[i] %></p>
                    </div>
                  <% } %>
                  <br>

                  <!-- Comments -->
                  <p class="title mt-3">Comments/ Reviews:</p>

                  <% if (resume.comments.length > 0){ %>
                  <div class="comments">
                      <% resume.comments.forEach(comment => { %>
                        <% if (comment.type === "review") { %>
                        <div class="comment review-comment">
                        <% } else { %>
                        <div class="comment student-comment">
                        <% } %>
                          <div class="container">
                              <p class="author"><%= comment.author.username %></p>
                              <p class="comment-text"><%= comment.text %></p>
                              <div class="info d-flex justify-content-around align-items-center">
                              <% if (String(currentUser._id) === String(comment.author.id)){ %>
                                  <!-- <a href="">edit</a>
                                  <span>•</span> -->
                                  <form action="/resumes/<%=resume._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                    <input type="submit" value="delete">
                                  </form>

                                  <span>•</span>
                              <% } %>
                                  <% var date = comment.date.toString(); %>
                                  <span><%= date.substring(0, 3) %>, <%= date.substring(4,21) %></span>
                              </div>
                          </div>
                        </div>
                      <% }); %>
                  </div>
                  <% } %>

                  <form class="mt-4" method="POST" action="/resumes/<%= resume._id%>/comments">
                    <% if (currentUser.type === "student") { %>
                      <textarea class="form-control" name="comment[text]" placeholder="Leave a comment" minlength="1" required></textarea>
                    <% } else { %>
                      <textarea class="form-control" name="comment[text]" placeholder="Leave a review" minlength="1" required></textarea>
                    <% } %>
                    <button class="mt-2 comment-btn">Submit</button>
                  </form>
              </div>

            </div>

          </div>

      </div>

<% include ./partials/footer %>
